.foot_booking {
  display: flex;
  justify-content: space-between;
}
.btn-booking {
  width: 100%;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
}
.foot_booking p {
  text-align: center;
  padding: 2px;
  background-color: #e71a0f;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  width: 80px;
}
