.header-page {
  background-image: url("https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg-top.png");
  width: 100%;
  margin: auto;
  background-size: 10px 135px;
  height: 135px;
}

.content-top {
  background-image: url("https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg-header-transparent-home.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 70%;
  margin: auto;
  cursor: pointer;
}
.content-top ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  gap: 16px;
}
.content-top ul li {
  width: 140px;
  height: 100px;
  text-indent: -99999px;
}

.slide {
  background-image: url("https://hinhgoc.net/upload/img/H392.jpg?quality=100&width=1200&height=1200");
  background-size: 100% 100%;
}
.slide-content {
  width: 70%;
  margin: auto;
}

.movie-selection {
  /* width: 70%; */
  margin: auto;
}

.movie-selection h2 {
  background-image: url("https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/h3_movie_selection.gif");
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  text-indent: -9999px;
  margin-top: 12px;
  height: 60px;
}

.owl-carousel.owl-theme.owl-loaded.owl-drag {
  width: 70%;
  margin: auto;
}

.owl-item.active {
  width: 260px !important;
  height: 355px !important;
}
.item {
  background-color: aqua;
  width: 240px;
  height: 355px;
}

.movie-item {
  width: 100%;
  height: 100%;
}

.movie-image img {
  width: 240px;
  height: 355px;
  object-fit: cover;
  position: relative;
}

.movie-informations {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(13, 13, 13, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.movie-button {
  text-align: center;
  color: white;
  width: 110px;
  height: 40px;
  background-color: #e71a0f;
  padding: 2px;
  border-radius: 5px;
}
.movie-button button {
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 5px;
}
.movie-item:hover .movie-informations {
  opacity: 1;
  visibility: visible;
}
.owl-prev {
  position: absolute;
  top: 150px;
  left: 3px;
  border-style: none;
  color: rgb(97, 104, 104);
}
.owl-next {
  position: absolute;
  top: 150px;
  right: 3px;
  border-style: none;
  color: rgb(97, 104, 104);
}

.event {
  margin: auto;
  width: 100%;
}

.event h1 {
  background-image: url("https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg-new-offer-vn.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  text-indent: -9999px;
  margin-top: 12px;
  height: 60px;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
/* modal */
.booking-movie {
  /* max-height: 500px !important ; */
  overflow-y: scroll;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    )
    repeat-y;
}

.modal-body {
  background-color: #fdfcf0;
}

.day-item {
  cursor: pointer;
}

.days .day-item:hover {
  background-color: rgba(244, 210, 210, 0.7);
  border: 1px solid black;
}
.time-item {
  cursor: pointer;
}

.times .time-item:hover {
  background-color: rgba(244, 210, 210, 0.7);
  border: 1px solid black;
}
.button-none{
  display: none;
}